<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="module" src="{{ "index-K_a9opsD.js" | asset_url }}"></script>
        <link rel="stylesheet" href="{{ "index-_269nEnJ.css" | asset_url }}">

        {{  content_for_header }}
    </head>
    <body>
        <div id="app" data-v-app="">
            {{ content_for_layout }}
        </div>
    </body>
</html>