<header
        class="block-header block-header--is-sticky"
        height="208"
        style="--width:1240px;--padding-top:26px;--padding:26px 16px 26px 16px;--padding-right:16px;--padding-bottom:26px;--padding-left:16px;--logo-width:53px;--cartIconSize:24px;--m-logo-width:70px;--oldContentWidth:1600px;--menu-item-spacing:64px;--space-between-menu:32px;--contrastBackgroundColor:rgb(31, 31, 31);--background-color:rgb(0, 0, 0);--44d44540:flex-end;--cd7af960:none;--0d335b46:right;"
        data-v-711a92b6=""
>
  <div
          class="background"
          style="--background-color:rgb(0, 0, 0);"
          data-v-711a92b6=""
  ></div>
  <div
          class="block-header__content"
          style="--navigation-grid-template-columns:1fr minmax(var(--logo-width), auto) 1fr;--m-navigation-grid-template-columns:auto minmax(0, calc(var(--m-logo-width) + var(--space-between-menu) * 2)) 1fr;--logo-grid-row:0/3;--m-logo-grid-row:1/3;--logo-grid-column:2/3;--m-logo-grid-column:1/2;--logo-justify-self:center;--m-logo-justify-self:flex-start;--logo-image-object-position:center center;--m-logo-image-object-position:left center;--links-grid-row:2/3;--m-links-grid-row:1/3;--links-grid-column:1/4;--m-links-grid-column:2/3;--cart-grid-row:1/3;--cart-grid-column:3/3;--logo-spacing:0 0 var(--space-between-menu) 0;--m-logo-spacing:0 var(--space-between-menu);--navigation-text-align:center;--m-navigation-text-align:right;--navigation-justify-self:center;--m-navigation-justify-self:flex-end;--mobile-background:var(--background-color,  var(--background-image));--dropdown-background-color:rgb(0, 0, 0);--m-dropdown-background-color:rgb(0, 0, 0);--dropdown-background-contrast-color:rgb(31, 31, 31);--nav-link-text-color:rgb(255, 255, 255);--nav-link-text-color-hover:rgb(233, 233, 223);"
          data-v-711a92b6=""
  >
    <a
            class="block-header-logo block-header__logo block-header__logo--m-with-cart"
            href="/"
            style="--height:53px;--m-height:70px;--width:53px;--m-width:70px;"
            data-v-711a92b6=""
            data-v-237d5d94=""
    ><img
              class="block-header-logo__image"
              src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=106,fit=crop,q=95/Y4LO0WpBJEUJNlD6/img_0569-m5KlNeqeDBcGLXoK.JPG"
              data-v-237d5d94=""
              data-qa="builder-siteheader-img-logo" /></a
    ><button
            type="button"
            class="burger block-header__burger block-header__burger--m-with-cart"
            title="Menu"
            style="--burger-color:var(--nav-link-text-color);"
            data-v-711a92b6=""
            data-v-1f7d7080=""
            data-qa="builder-siteheader-btn-hamburger"
    >
      <span class="burger__bun" data-v-1f7d7080=""></span
      ><span class="burger__meat" data-v-1f7d7080=""></span
      ><span class="burger__bun" data-v-1f7d7080=""></span>
    </button>
    <nav class="block-header__nav" data-v-711a92b6="">
      <ul
              class="block-header__links block-header__links--align-right"
              data-v-711a92b6=""
              data-qa="builder-siteheader-emptyspace"
      >
        <!--[-->
        <li class="block-header-item" data-v-711a92b6="" data-v-ee55214b="">
          <label class="block-header-item__label" data-v-ee55214b=""
          ><!---->
            <div
                    class="item-content-wrapper block-header-item__item"
                    aria-haspopup="false"
                    data-v-ee55214b=""
                    data-v-cf3ff533=""
                    data-qa="navigation-item-shop"
            >
              <a
                      class="item-content"
                      href="/shop"
                      data-v-cf3ff533=""
                      data-qa="navigationblock-page-shop"
              >Shop</a
              ><!---->
            </div>
            <!----></label
          >
        </li>
        <li class="block-header-item" data-v-711a92b6="" data-v-ee55214b="">
          <label class="block-header-item__label" data-v-ee55214b=""
          ><!---->
            <div
                    class="item-content-wrapper block-header-item__item"
                    aria-haspopup="false"
                    data-v-ee55214b=""
                    data-v-cf3ff533=""
                    data-qa="navigation-item-collections"
            >
              <a
                      class="item-content"
                      href="/collections"
                      data-v-cf3ff533=""
                      data-qa="navigationblock-page-collections"
              >Collections</a
              ><!---->
            </div>
            <!----></label
          >
        </li>
        <li class="block-header-item" data-v-711a92b6="" data-v-ee55214b="">
          <label class="block-header-item__label" data-v-ee55214b=""
          ><!---->
            <div
                    class="item-content-wrapper block-header-item__item"
                    aria-haspopup="false"
                    data-v-ee55214b=""
                    data-v-cf3ff533=""
                    data-qa="navigation-item-aboutus"
            >
              <a
                      class="item-content"
                      href="/about"
                      data-v-cf3ff533=""
                      data-qa="navigationblock-page-aboutus"
              >About us</a
              ><!---->
            </div>
            <!----></label
          >
        </li>
        <!--]--><!----><!---->
      </ul>
    </nav>
    <div
            class="block-header-cart-wrapper block-header__cart"
            style="--cart-icon-size:24px;"
            data-v-711a92b6=""
            data-v-da7f12ed=""
    >
      <a class="block-header-cart" data-v-da7f12ed=""
      ><button
                class="block-header-cart__button"
                title="Go to cart"
                data-v-da7f12ed=""
                data-qa="header-btn-shoppingbag"
        >
          <div class="block-header-cart__icon-container" data-v-da7f12ed="">
            <svg
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="block-header-cart__icon"
                    data-v-da7f12ed=""
            >
              <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5.94636 5.35922C6.29451 3.00506 7.9363 1.39824 9.67973
						1.39824C11.4232 1.39824 13.0649 3.00506
						13.4131 5.35922H5.94636ZM4.53847 5.35922C4.90317 2.43147
						6.95866 0.000183105 9.67973 0.000183105C12.4008
						0.000183105 14.4563 2.43147 14.821 5.35922H17.2816H18.6797V6.75728V21.2039C18.6797
						22.7481 17.4278 24 15.8836
						24H3.4758C1.93155 24 0.679688 22.7481 0.679688
						21.2039V6.75728V5.35922H2.07775H4.53847ZM2.07775 6.75728H4.52596V9.08752C4.52596
						9.47359 4.83893 9.78655 5.22499 9.78655C5.61105 9.78655 5.92402 9.47359
						5.92402 9.08752V6.75728H13.5259V9.08752C13.5259 9.47359
						13.8389 9.78655 14.2249 9.78655C14.611 9.78655 14.9239
						9.47359 14.9239 9.08752V6.75728H17.2816V21.2039C17.2816 21.976 16.6557 22.6019
						15.8836 22.6019H3.4758C2.70368 22.6019 2.07775 21.976 2.07775 21.2039V6.75728Z"
                      fill="currentColor"
                      data-v-da7f12ed=""
              ></path></svg
            ><span data-v-da7f12ed="">Shopping bag (0)</span>
          </div>
        </button></a
      >
    </div>
    <!---->
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "block-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "t:settings_schema.logo.settings.logo_image.label"
    },
    {
      "type": "range",
      "id": "header_logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:settings_schema.logo.settings.logo_width.label"
    }
  ]
}
{%  endschema %}